@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--primary-dark: #000;
	--primary-light: black;
}

.icon {
	color: var(--primary-dark);
}

@layer base {
	body {
		@apply font-[Montserrat];
	}
	li {
		@apply p-4 text-xl;
	}

	h1 {
		@apply text-3xl md:text-4xl font-bold;
	}

	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-xl font-bold;
	}

	button {
		@apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
	}

	.icon {
		@apply text-2xl cursor-pointer;
	}
}
